<!-- <nav>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <p><a routerLink="">Certificate</a></p>
      </div> -->

<!-- <div class="collapse navbar-collapse">
        <div class="nav navbar-nav navbar-right">
          <div class="row">
      <div class="col-4">
        <button type="submit" class="btn btn-success" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </div>
        </div>
      </div> -->
<!-- </div>
  </div>
</nav> -->

<app-header></app-header>

<div class="container-fluid pt-5">
  <!-- Image -->
  <div class="row">
    <div class="container col-6">
      <img [src]="imgUrl" alt="no image" />
    </div>

    <!-- Form -->
    <div class="container col-6">
      <!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)"> -->
      <form>
        <div class="col-6 form-group">
          <label for="name">Certificate Name</label>
          <br />
          <input
            type="text"
            name="name"
            placeholder="Enter your name"
            class="form-control"
            id="name"
            [(ngModel)]="dataList.name"
          />
        </div>
        <br />
        <div class="col-6 form-group">
          <label for="description">Description</label>
          <br />
          <textarea
            name="description"
            id="description"
            rows="3"
            class="form-control"
            placeholder="Enter your description"
            id="description"
            [(ngModel)]="dataList.description"
          ></textarea>
        </div>
        <br />
        <div class="col-6 form-group">
          <label for="classification">Plan Classification</label>
          <br />
          <select
            name="classification"
            id="classification"
            [(ngModel)]="dataList.classification"
            placeholder="Enter your Plan"
          >
            <!-- <option value="">Select</option> -->
            <option value="Gold">Gold</option>
            <option value="Platinum">Platinum</option>
            <option value="Bronze">Bronze</option>
          </select>
        </div>
        <br />
        <!-- <div class="row">
          <div class="col-4"> -->
        <button type="submit" class="btn btn-success" (click)="onSubmit()">
          Submit
        </button>
        <button type="button" class="btn btn-primary" (click)="onBack()">
          Back
        </button>
        <!-- </div>
        </div> -->
      </form>
    </div>
  </div>
</div>

<!-- <input type="text" placeholder="Enter your name" #cname /><br />
<input type="text" placeholder="Enter your Plan" #cplan /><br />
<input type="text" placeholder="Enter your description" #cdesc /><br />

<button type="submit" (click)="onSubmit()">Submit</button> -->
